.svn/
target/
test-output/
*.class
.classpath
.project
.settings/
tmp
temp
*.log
antx.properties
otter.properties
jtester.properties
.idea/
*.iml
logs/*
rebel.xml
rebel-remote.xml
.rebel.xml.bak
.rebel-remote.xml.bak
*.jar
.mvm/
